<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Guruh nomi</th>
            <th>Boshlanish sanasi</th>
            <th>Tugash sanasi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>BE2</td>
            <td>01.03.2023</td>
            <td>31.12.2023</td>
        </tr>
    </tbody>
</table>